<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    |   
    meta(name='viewport', content='width=device-width')
    |   
    link(rel='stylesheet', href='../css/ink.css')
    |   
    link(rel='stylesheet', href='../css/build/weekly-digest.css')
  body
    table.body
      tr
        td.center(align='center', valign='top')
          center
            table.container
              tr
                td
                  table.row.submission-detail
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.text-pad
                              h3
                                | New submission on 
                                a(href='#') andygcook.com
                            |                           
                            td.expander
                  |                 
                  table.row.lead-identity
                    tr
                      td.wrapper
                        table.two.columns
                          tr
                            td.text-pad
                              img(height='60', width='60', src='http://placehold.it/60x60')
                            |                           
                            td.expander
                      |                     
                      td.wrapper.last
                        table.ten.columns
                          tr
                            td
                              h1
                                a(href='#') nellyvan@gmail.com
                            |                           
                            td.expander
                  |                 
                  table.row.lead-timeline__date
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.text-pad
                              h4 Monday May 19, 2014, 5:29pm-6:50pm
                            |                           
                            td.expander
                  |                 
                  table.row.lead-timeline__event.submission
                    tr
                      td.wrapper
                        table.two.columns
                          tr
                            td.text-pad
                              p.lead-timeline__event-time 6:50 pm
                            |                           
                            td.expander
                      |                     
                      td.wrapper.last
                        table.ten.columns
                          tr
                            td.text-pad
                              p.lead-timeline__event-title
                                | Filled out form on page 
                                a(href='#') WordPress Marketing Automation &amp; Lead Tracking Plugin | LeadIn
                              |                             
                              p.lead-timeline__submission-field
                                label.lead-timeline__submission-label NAME:
                                |                               
                                br
                                | Nelson Joyce
                              |                             
                              p.lead-timeline__submission-field
                                label.lead-timeline__submission-label NAME:
                                |                               
                                br
                                | Nelson Joyce
                            |                           
                            td.expander
                  |                 
                  table.row.lead-timeline__event.pageview
                    tr
                      td.wrapper
                        table.two.columns
                          tr
                            td.text-pad
                              p.lead-timeline__event-time 6:47 pm
                            |                           
                            td.expander
                      |                     
                      td.wrapper.last
                        table.ten.columns
                          tr
                            td.text-pad
                              p.lead-timeline__event-title Download - LeadIn | WordPress CRM Plugin
                              |                             
                              p.lead-timeline__pageview-url
                                a(href='#') http://localhost:8888/4-strategies-we-used-to-get-over-100-customer-interviews/
                            |                           
                            td.expander
                  |                 
                  table.row.lead-timeline__event.traffic-source
                    tr
                      td.wrapper
                        table.two.columns
                          tr
                            td.text-pad
                              p.lead-timeline__event-time 6:47 pm
                            |                           
                            td.expander
                      |                     
                      td.wrapper.last
                        table.ten.columns
                          tr
                            td.text-pad
                              p.lead-timeline__event-title Traffic Source: https://www.google.com/
                            |                           
                            td.expander
                  |                 
                  table.row.footer
                    tr
                      td.wrapper.last
                        table.eight.columns
                          tr
                            td(align='center')
                              center
                                table.button.medium-button.radius
                                  tr
                                    td
                                      a(href='#') View Contact Record
                            |                           
                            td.expander
                  // container end below
